.face-recognition {
	display: flex;
	justify-content: center;
}

.face-image {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1rem;
	max-width: 700px;
	margin: 1rem auto;
}

.face-image__img {
	max-width: 700px;
	max-height: 500px;
}

.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #149df2 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}
