:root {
	--primary-color: #38a1f2;
	--secondary-color: #15202a;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--secondary-color);
}

/* navigation styles */
.navbar {
	background-color: var(--primary-color);
	padding: .5rem;
}

.nav-container {
	display: flex;
	justify-content: flex-end;
}

.nav-items {
	color: #fff;
	font-weight: bold;
	margin-left: 1rem;
	margin-right: 1rem;
	list-style: none;
}

.last-nav-item {
	margin-right: 2rem;
}

/* image link styles */
.image-link-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid lightgrey;
	width: 35%;
	margin: 2rem auto;
	padding: 2rem;
	background-color: #fff;
}

.image-link {
	padding: 1rem;
	font-size: 14px;
	border-radius: 1rem;
	border: 2px solid var(--primary-color);
}

.image-link:focus {
	outline: none;
}

.submit-image {
	padding: 1rem;
	font-size: 14px;
	border-radius: 1rem;
	background-color: var(--primary-color);
	color: #fff;
	width: 100px;
	margin-left: .2rem;
}
